<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Seoul - Seoul Spicy Noodles Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">
    <!-- Favicon -->
    <link href="~/Client/img/logo.png" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/Client/css/owl.carousel.min.css" rel="stylesheet">
    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/Client/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/Client/css/style.css" rel="stylesheet">
    <style>
        .navbar-nav.ms-auto.mx-lg-auto.py-0 {
            margin-left: 440px !important;
        }
        .bg-primary {
           background-color: #E88F2A !important;
        }
        .btn-primary {
            background-color: #E88F2A;
            border-color: #E88F2A;
        }
        .text-primary {
            color: #E88F2A !important;
        }
        p {
            color: #fff ;
        }
        .bg-dark {
            background-color: #2B2825 !important;
        }
        .navbar-dark .navbar-nav .nav-link {
            color: #fff;
        }
            .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link.active {
                color: var(--primary) !important;
            }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark shadow-sm py-3 py-lg-0 px-3 px-lg-0">
        <a href="index.html" class="navbar-brand d-block d-lg-none">
            <h1 class="m-0 text-uppercase text-white"><i class="fs-1 text-primary me-3"><img src="~/Client/img/logo.png" alt="" style="width:50px"></i>Seoul</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto mx-lg-auto py-0">
                <a class="nav-item nav-link" @Html.ActionLink("Trang chủ", "Index", "Home")</a>
                <a class="nav-item nav-link" @Html.ActionLink("Đặt món", "Index", "Order")</a>
                <a class="nav-item nav-link" @Html.ActionLink("Đặt bàn", "Index", "Book")</a>
                <a class="nav-item nav-link" @Html.ActionLink("Giỏ hàng", "Index", "Cart")</a>
                <a class="nav-item nav-link" @Html.ActionLink("My account", "Index", "Myaccount")</a>
                <a class="nav-item nav-link" @Html.ActionLink("Phản hồi", "Index", "Feedback")</a>

            </div>
        
        </div>
    </nav>
    @RenderBody()
    <div class="container-fluid bg-img text-secondary" >
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-4 col-md-6 mb-lg-n5">
                    <div class="d-flex flex-column align-items-center justify-content-center text-center h-100 bg-primary border-inner p-4">
                        <a href="index.html" class="navbar-brand">
                            <h1 class="m-0 text-uppercase text-white"><i class=" fs-1 text-dark me-3"><img src="/img/logo.png" alt="" style="width:50px"></i>Seoul</h1>
                        </a>
                        <p class="mt-3">Mì Hải Sản là món BEST SELLER của Hệ Thống Mì Cay Seoul mà bạn không nên bỏ lỡ. Sợi mì koreno dai ngon kết hợp với nước dùng là công thức độc quyền của Seoul, chắc chắn sẽ đem đến cho quý thực khách cảm giác thơm ngon,đậm đà, khó cưỡng nhất. Không chỉ là Mì Cay, Lẩu Kim Chi cũng là lựa chọn của rất nhiều thực khách khi tới nhà hàng.</p>
                    </div>
                </div>
                <div class="col-lg-8 col-md-6">
                    <div class="row gx-5">
                        <div class="col-lg-4 col-md-12 pt-5 mb-5">
                            <h4 class="text-primary text-uppercase mb-4">Liên lạc</h4>
                            <div class="d-flex mb-2">
                                <i class="bi bi-geo-alt text-primary me-2"></i>
                                <p class="mb-0">450 Lê Văn Viêt, Thủ Đức, TP.HCM</p>
                            </div>
                            <div class="d-flex mb-2">
                                <i class="bi bi-envelope-open text-primary me-2"></i>
                                <p class="mb-0">Contact@micayseoul.com</p>
                            </div>
                            <div class="d-flex mb-2">
                                <i class="bi bi-telephone text-primary me-2"></i>
                                <p class="mb-0">+84329903471</p>
                            </div>
                            <div class="d-flex mt-4">
                                <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 me-2" href="#"><i class="fab fa-twitter fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 me-2" href="#"><i class="fab fa-facebook-f fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 me-2" href="#"><i class="fab fa-linkedin-in fw-normal"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
                            <h4 class="text-primary text-uppercase mb-4">Liên kết nhanh</h4>
                            <div class="d-flex flex-column justify-content-start">
                                <a class="text-secondary mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Trang chủ</a>
                                <a class="text-secondary mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Về chúng tôi</a>
                                <a class="text-secondary mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Dịch vụ của chúng tôi</a>
                                <a class="text-secondary mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Gặp gỡ nhóm</a>
                                <a class="text-secondary mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Blog mới nhất</a>
                                <a class="text-secondary" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Liên hệ</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
                            <h4 class="text-primary text-uppercase mb-4">Bản tin</h4>
                            <p>Mì Hải Sản là món BEST SELLER </p>
                            <form action="">
                                <div class="input-group">
                                    <input class="form-control border-white p-3" placeholder="Email của bạn">
                                    <button class="btn btn-primary">Đăng ký</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid text-secondary py-4" style="background: #111111;">
        <div class="container text-center">
            <p class="mb-0">
                &copy; <a class="text-white border-bottom" href="#">Seoul</a>. All Rights Reserved.

                <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                Designed by <a class="text-white border-bottom" href="https://htmlcodex.com">TrungQuyenDesign</a>
            </p>
            <br>Distributed By: <a class="border-bottom" href="https://themewagon.com" target="_blank">quynIT</a>
        </div>
    </div>
</body>
</html>
