@model List<WebMiCay.Areas.Admin.Models.BillViewModel>
@{
    QuanLyQuanMiCayEntities db = new QuanLyQuanMiCayEntities();
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<head>
    <link href="~/Areas/Admin/Assets/dist/css/style.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Assets/dist/css/icon.css" rel="stylesheet" />
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="page-wrapper">
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <!-- basic table -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="zero_config" class="table table-striped table-bordered no-wrap">
                                    <thead>
                                        <tr>
                                            <th>Tình trạng</th>
                                            <th>Mã tài khoản khách</th>
                                            <th>Tên khách hàng</th>
                                            <th>Mã hóa đơn</th>
                                            <th>Tổng hóa đơn</th>
                                            <th>Ngày đặt</th>
                                            <th>Nhân viên duyệt</th>
                                            <th>Hành động</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            var employee = db.NhanVien.FirstOrDefault(e => e.MaNV == item.MaNV);
                                            <tr>
                                                <td>@item.TinhTrang</td>
                                                <td>@item.MaTaiKhoanKhach</td>
                                                <td>
                                                    <a href="javascript:void(0)" class="font-weight-medium link">@item.TenKH</a>
                                                </td>
                                                <td>@item.MaHD</td>
                                                <td><a href="javascript:void(0)" class="font-bold link">@item.TongGia</a></td>
                                                <td>@item.NgayDat</td>
                                                <td>@(employee != null ? employee.MaNV : "N/A")</td>
                                                <td class="bx-tx">
                                                    <div class="d-inline-block text-nowrap">
                                                        <button class="btn btn-sm btn-icon dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                                            <a href="@Url.Action("ChiTietHD", "Bill", new { maHD = item.MaHD, ngayDatVe = item.NgayDat, maKH = item.MaKH, tenKH = item.TenKH, dienThoai = item.SDT, maMon = item.MaMon, tenMon = item.TenMon, soLuong = item.SoLuongMon, giaCa = item.GiaCa, tongGia = item.TongGia })">
                                                                <i class="bx bx-show"></i>
                                                            </a>
                                                        </button>
                                                        <button class="btn btn-sm btn-icon delete-record">
                                                            <a href="@Url.Action("Deletebill", "Bill", new { maHD = item.MaHD })">
                                                                <i class="bx bx-trash"></i>
                                                            </a>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Areas/Admin/Assets/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/Areas/Admin/Assets/assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <!-- apps -->
    <!-- apps -->
    <script src="~/Areas/Admin/Assets/dist/js/app-style-switcher.js"></script>
    <script src="~/Areas/Admin/Assets/dist/js/feather.min.js"></script>
    <script src="~/Areas/Admin/Assets/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/Areas/Admin/Assets/dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="~/Areas/Admin/Assets/dist/js/custom.min.js"></script>
    <style>
        .text-center {
            border-radius: 5%;
        }

        .badgee {
            --bs-badge-padding-x: 0.593em;
            --bs-badge-padding-y: 0.52em;
            --bs-badge-font-size: 0.8125em;
            --bs-badge-font-weight: 500;
            --bs-badge-color: #fff;
            --bs-badge-border-radius: 0.25rem;
            display: inline-block;
            padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
            font-size: var(--bs-badge-font-size);
            font-weight: var(--bs-badge-font-weight);
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            border-radius: var(--bs-badge-border-radius);
        }

        .bg-label-danger {
            background-color: #ffe0db !important;
            color: #ff3e1d !important;
        }

        .bg-label-warning {
            background-color: #fff2d6 !important;
            color: #ffab00 !important;
        }

        .bg-label-success {
            background-color: #e8fadf !important;
            color: #71dd37 !important;
        }
    </style>
</body>